<div
  class="bg-image"
  style="
    background-image: url('https://images.unsplash.com/photo-1588580000645-4562a6d2c839?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 100vh;
  "
>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h3 class="centre">Livros Disponíveis</h3>
            <div class="row">
              <div class="col-6">
                <div class="input-group mb-3">
                  <input
                    (keyup)="findByTitulo()"
                    [(ngModel)]="pesquisa"
                    type="text"
                    class="form-control"
                    placeholder="Procurar Livro:"
                    aria-label="Recipient's username"
                    aria-describedby="button-addon2"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="direita">
                  <a
                    (click)="new()"
                    class="btn btn-success btn-rounded"
                    mdbRippled
                  >
                    <i class="fas fa-plus fa-sm"></i> Add Livro
                  </a>
                </div>
              </div>
            </div>
            <table border="1" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Titulo</th>
                  <th scope="col">Autor</th>
                  <!--<th>Gêneros</th>-->
                  <th scope="col">Reservas</th>
                </tr>
              </thead>
              <tbody>
                @for (livro of lista; track $index) {
                <tr>
                  <td>{{ livro.id }}</td>
                  <td>{{ livro.titulo }}</td>
                  @if (!modoModal) { @if (livro.autor) {
                  <td>{{ livro.autor.nome }}</td>
                  }@else {
                  <td>---</td>
                  }
                  <td>{{ livro.reservas.length }}</td>
                  <td class="direita">
                    <button
                      type="button"
                      class="btn btn-primary btn-rounded"
                      mdbRipple
                      (click)="edit(livro)"
                    >
                      <i class="fas fa-pencil fa-sm"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger btn-rounded"
                      mdbRipple
                      (click)="deleteById(livro)"
                    >
                      <i class="fas fa-trash fa-sm"></i>
                    </button>
                  </td>
                  }@else {
                  <td class="direita">
                    <button
                      (click)="selecionar(livro)"
                      class="btn btn-success btn-rounded"
                      mdbRippled
                    >
                      Selecionar
                    </button>
                  </td>
                  }
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalLivroForm>
  <div class="modal-header">
    @if (livroEdit.id > 0) {
    <h5 class="modal-title" id="exampleModalLabel">Editando livro</h5>
    }@else {
    <h5 class="modal-title" id="exampleModalLabel">Cadastrando novo livro</h5>
    }
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <app-livros-form
      [livro]="livroEdit"
      (meuEvento)="meuEventoTratamento($event)"
    ></app-livros-form>
  </div>
</ng-template>
